#experienceSection {
  height: 135vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 4fr 2fr 2fr;
  padding: 0 18% 0 18%;
}

.experienceSection-titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainRed {
  color: var(--main-red);
}

#experienceSection .subSection-title {
  text-align: center;
}

.subSection-subTitle {
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 5vmin;
}

.experienceContent {
  font-family: "Exo", sans-serif;
  font-weight: 600;
  font-size: 4vmin;
  color: var(--main-blue);
  text-align: center;
  margin: 1.5vmin 0 1.5vmin 0;
}

@media (min-width: 779px) and (max-width: 980px) {
  #experienceSection .subSection-title {
    font-size: 4.5vmin;
  }

  .subSection-subTitle {
    font-size: 4.5vmin;
  }

  .experienceContent {
    font-size: 3.5vmin;
  }
}

@media (min-width: 621px) and (max-width: 780px) {
  #experienceSection .subSection-title {
    font-size: 4vmin;
  }

  .subSection-subTitle {
    font-size: 4vmin;
  }

  .experienceContent {
    font-size: 3vmin;
  }
}

@media (max-width: 620px) {
  #experienceSection .subSection-title {
    font-size: 3.5vmin;
  }

  .subSection-subTitle {
    font-size: 3.5vmin;
  }

  .experienceContent {
    font-size: 3.5vmin;
  }
}

#basterEscuela > div {
  opacity: 0;
}

#molineraSuda > div {
  opacity: 0;
}

#colegioSan > div {
  opacity: 0;
}

.contentAnimateLeftInNoDelay {
  animation: slideInFromLeft 500ms ease-out 0s 1 forwards;
}

.contentAnimateLeftInFirstDelay {
  animation: slideInFromLeft 500ms ease-out 250ms 1 forwards;
}

.contentAnimateLeftInSecondDelay {
  animation: slideInFromLeft 500ms ease-out 500ms 1 forwards;
}
