.navBar {
  height: 12vh;
  width: 100%;
  background-color: --main-blue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  font-size: 3.2vh;
  font-weight: bold;
}

.headButton {
  text-decoration: none;
  color: white;
}

.headButton:hover {
  color: var(--main-red);
}

.sticky {
  position: fixed;
  top: 0;
}

.sticky + .content {
  padding-top: 12vh;
}